:root {
  ---text-color-primary: #212121;
  --headertext-color-primary: #2196f3;
  --headertext-color-secondary: #000000;
  --headerlink-color: #757575;
  --heading-color: #ffffff;
  --heading-background: #2f303a;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --button-background: #f5f4fa;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}

.logo-web,
.logo-studio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 16px;
}
.logo-web {
  color: var(--headertext-color-primary);
}
.logo-studio {
  color: var(--headertext-color-secondary);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-link-other {
  color: var(---text-color-primary);
}
.header-link-agency {
  color: var(--headertext-color-primary);
}
.header-link-mail {
  color: var(--headerlink-color);
}
.header-link-phone {
  color: var(--headerlink-color);
}
.heading-color {
  color: var(--heading-color);
}
.link:hover,
.link:focus {
  color: var(--headertext-color-primary);
}
.button-portfolio-hover:hover {
  color: var(--heading-color);
  background-color: var(--headertext-color-primary);
}
.section-background {
  background-color: var(--button-background);
}
.heading {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.heading-background {
  background-color: var(--heading-background);
}
.button-studio {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--headertext-color-primary);
  color: var(--heading-color);
}
.button-portfolio {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  color: var(---text-color-primary);
  background-color: var(--button-background);
}
.heading-studio-secondary {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.heading-studio-tertiary {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
}
.solution-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.solution-text {
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: var(--headerlink-color);
}
.our-team-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
}
.our-team-function {
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  color: var(--headerlink-color);
}
.portfolio-project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}
.portfolio-project-type {
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  color: var(--headerlink-color);
}
.footer-contact-all {
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
}
.footer-contact {
  color: var(--footer-contact);
}
